.jumbotron {
    background-image: url('https://picsum.photos/1903/370/?image=1060');
}

.jumbotron {color:white;}

.container {
    margin-top:30px;
}


.modal-area{
    content:'123';
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    z-index: 99999;
}

.modal-area form {
    width:40%;
    position: absolute;
    top:20%;
    left:30%;
    margin:auto ;
    background: white;
    padding:2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card {
    margin:10px;
    padding:10px;
}

.empty-txt {text-align: center;}

.route{text-align: center;display: block;margin-top:20px;}